<html>
<head>
	<title>Triton Meal Planner</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
	<div class="container" style="padding-bottom: 50px;">
		<!-- h1 through h6 are headers. The higher the number, the smaller the header -->
		<!-- p means paragraph -->
		<div class="page-header text-center">
			<a href="/" style="color: #000;"><h1>Triton Meal Planner</h1></a>
		</div>

		<div class="container text-center text-justify" style="margin-top: 30%;">
			<h4>We couldn't make you a meal plan that fit your preferences. Maybe try:</h4>
			<div style="margin-top: 5%;"></div>
			<ul class="text-left">
				<li><h5>a wider calorie range</h3></li>
				<li><h5>more locations</h3></li>
				<li><h5>eat fewer meals</h3></li>
			</ul>
		</div>

		<div class="row text-center justify-content-center" style="margin-top: 25%;">
			<div class="col-6">
				<a role="button" class="btn btn-lg btn-outline-secondary" href="/" style="width: 100%;">Start Over</a>
			</div>
		</div>

		<div class="navbar fixed-bottom bg-light">
			<div class="row col-12" id="bottomNav">
				<div class="col-4 text-center"><a href="login">login</a></div>
				<div class="col-4 text-center"><a href="help">help</a></div>
				<div class="col-4 text-center"><a href="about">about</a></div>
			</div>
		</div>

	</div>
</body>
</html>