<html>
<head>
    <title>Triton Meal Planner</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/bootstrap-theme.min.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <!-- h1 through h6 are headers. The higher the number, the smaller the header -->
    <!-- p means paragraph -->
    <div class="page-header text-center">
        <a href="/" style="color: #000000">
            <div class="link">
                <h1>Triton Meal Planner</h1>
            </div>
        </a>
    </div>


    <div class="container">
        <!--TODO-->
        <h4>HELP</h4>
    </div>



    <div class=" navbar navbar-fixed-bottom">
        <div class="row" id="bottomNav">
            <div class="col-xs-4 text-center"><a href="login">login</a></div>
            <div class="col-xs-4 text-center"><a href="help">help</a></div>
            <div class="col-xs-4 text-center"><a href="about">about</a></div>
        </div>
    </div>
</div>
</body>
</html>