<html>
<head>
	<title>Triton Meal Planner</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="https://code.jquery.com/jquery.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="/css/tritonmealplanner.css">
</head>
<body>
	<div class="container justify-content-center" style="margin-top: 60px; margin-bottom: 10px; width: 90%; margin-left: 5%;">
		<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
			<h2><a class="navbar-brand" href="/">Triton Meal Planner</a></h2>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNavDropdown">
				<ul class="navbar-nav">
					<li class="nav-item">
						<a class="nav-link" href="/">Home</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/login">Login</a>
					</li>
					<li class="nav-item">
						<a class="nav-link active" href="/help">Help <span class="sr-only">(current)</span></a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/about">About</a>
					</li>
				</ul>
			</div>
		</nav>

		<div style="margin-top: 30%;">
			<h3 class="text-center">Help</h3>
			<p class="text-justify">
				Triton Meal Planner is fairly simple to use:
			</p>
			<ol>
				<li>
					Fill out the meal plan preferences (found on <a href="/">the home page</a>) with your location, dietary preferences, number of meals, calorie range, and dining dollar limit.
				</li>
				<li>
					Hit "Generate" and the app will create a meal plan for you, if one is possible.
				</li>
			</ol>
			<p>
				If you really don't like an item, hit "Swap Out" on that item to get a different HDH offering that still fits in your custom meal plan. And, if you don't know where a specific dining hall from the meal plan is, tap on the dining hall's name to open up a link to that dining hall on Google Maps. Note: The generated meal plan will not always fall under budget, but Triton Meal Planner tries to stay as close to budget as possible with the given data. There is a <a href="/login">login page</a>, but there is currently no functionality for users who are logged in.
			</p>
		</div>

	</div>
</body>
</html>
