<html>
<head>
	<title>Triton Meal Planner</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
	<div class="container" style="padding-bottom: 50px;">
		<div class="page-header text-center">
			<a href="/" style="color: #000;"><h1>Triton Meal Planner</h1></a>
		</div>

		<div style="margin-top: 10%;">
			<h3>Help</h3>
			<p>
				Triton Meal Planner is fairly simple to use: fill out the "meal plan statement" (found on <a href="/">the home page</a>) with your location, dietary preferences, number of meals, calorie range, and dining dollar limit. Hit "Generate" and the app will create a meal plan for you, if one is possible. If you really don't like an item, hit "Swap Out" on that item to get a different HDH offering that still fits in your custom meal plan. And, if you don't know where a specific dining hall from the meal plan is, tap on the dining hall's name to open up a link to that dining hall on Google Maps. There is a <a href="/login">login page</a> (found on the navbar at the bottom of every page), but there is currently no functionality for users who are logged in.
			</p>
		</div>

		<div class="navbar fixed-bottom bg-light">
			<div class="row col-12" id="bottomNav">
				<div class="col-4 text-center"><a href="login">login</a></div>
				<div class="col-4 text-center"><a href="help">help</a></div>
				<div class="col-4 text-center"><a href="about">about</a></div>
			</div>
		</div>
	</div>
</body>
</html>
