<html>
<head>
	<title>Triton Meal Planner</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="https://code.jquery.com/jquery.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="container justify-content-center" style="margin-top: 60px; margin-bottom: 10px;">
		<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
			<h2><a class="navbar-brand" href="/">Triton Meal Planner</a></h2>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNavDropdown">
				<ul class="navbar-nav">
					<li class="nav-item">
						<a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
					</li>
					<li class="nav-item">
						<a class="nav-link active" href="/login">Login <span class="sr-only">(current)</span></a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/help">Help</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/about">About</a>
					</li>
				</ul>
			</div>
		</nav>

		<div class="container" style="padding-top: 25%">
			<form class="form-horizontal" action="/">
				<div class="row justify-content-center" style="margin-top: 20%;">
					<div class="col-md-5">
						<h2>Login</h2>
					</div>
					<div class="col-md-1" style="margin-left: 73%; margin-top: -10%;">
						<fb:login-button scope="public_profile,email" onlogin="checkLoginState();">
						</fb:login-button>
					</div>
				</div>
				<div class="row" style="margin-top: 1%;">
					<div class="col-md-3"></div>
					<div class="col-md-6">
						<div class="form-group has-danger">
							<label class="sr-only" for="email">E-Mail Address</label>
							<div class="input-group mb-2 mr-sm-2 mb-sm-0">
								<div class="input-group-addon"><i class="fa fa-at"></i></div>
								<input type="text" name="email" class="form-control" id="email"
									placeholder="username" required autofocus>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-3"></div>
					<div class="col-md-6">
						<div class="form-group">
							<label class="sr-only" for="password">Password</label>
							<div class="input-group mb-2 mr-sm-2 mb-sm-0">
								<div class="input-group-addon"><i class="fa fa-key"></i></div>
								<input type="password" name="password" class="form-control" id="password"
									   placeholder="password" required>
							</div>
						</div>
					</div>
					<!-- div class="col-md-3">
						<div class="form-control-feedback">
							<span class="text-danger align-middle">
								Invalid credentials.
							</span>
						</div>
					</div -->
				</div>
				<div class="row" style="margin-top: 2%;">
					<div class="col-md-3"></div>
					<div class="col-md-6 text-center">
						<button type="submit" class="btn btn-success" style="width: 100%;"><i class="fa fa-sign-in"></i>Submit</button>
					</div>
				</div>
			</form>
		</div>

	</div>

	{{> facebook}}
	<script src="/js/facebook.js"></script>

</body>
</html>
